

				<div class="col-lg-4 col-md-6 mx-auto">
					<div class="card h-100 mx-auto">
						<div class="single-post post-style-1">
							<a href="{{ tree.get_absolute_url }}">
								<div class="blog-image">  								
									<img src="{{ tree.treeimage_set.all.first.image.url }}" alt="Blog Image">
								</div>
							</a>
							<a class="avatar" href="#"><img src="" alt="Profile Image"></a>

							<div class="blog-info">

								<h4 class="title"><a href="#"><b>{{ tree.title }} - {{ tree.get_absolute_url }} </b></a></h4>

								<ul class="post-footer">
									<li><a href="#"><i class="ion-heart"></i>57</a></li>
									<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
									<li><a href="#"><i class="ion-eye"></i>138</a></li>
								</ul>

							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->