<h2 class="">Como participar</h2>

<ul class="list-group">
    <li class="list-group-item participar-item">
        <div class="badge badge-primary text-wrap" style="width: 4rem;">
            Paso 1
        </div>
        <p class="text-justify">Abre una cuenta para concursar dando click   
                    <a href="#">
                    <button type="button" class="btn btn-warning btn">AQUI</button>
                    </a>  y sigue las indicaciones.
        </p>
    </li>
    <li class="list-group-item participar-item">
        <div class="badge badge-primary text-wrap" style="width: 4rem;">
            Paso 2
        </div>
        <p class="text-justify">Despues de registrarse tienes dos opciones:
        </p>  
        <ul class="list-group">
            <li class="list-group-item">
                <div class="badge badge-primary text-wrap" style="width: 4rem;">
                    1
                </div>
                <p class="text-justify">Crear tu arbol y subit las fotos. También puedes votar por otros arboles.
                </p>
            </li>
            <li class="list-group-item">
                <div class="badge badge-primary text-wrap" style="width: 4rem;">
                    2
                </div>
                <p class="text-justify">Solo votar por tus arboles favoritos.
                </p>
            </li>
        </ul>
    </li>
    <li class="list-group-item participar-item">
        <div class="badge badge-primary text-wrap" style="width: 4rem;">
            Paso 3
        </div>
        <p class="text-justify">Si tus fotos son legitimas y la informacion correcta, tu arbol se podrá ver en máximo 2 días
        </p>  
    </li>
</ul>


