
    <div class="col-lg-4 col-md-6 mx-auto">
		<div class="card h-100 mx-auto">
			<div class="single-post post-style-1">
            <form method="POST" action="{% url 'upload_image_tree' %}" enctype="multipart/form-data"> {% csrf_token %}
            <div class="form-group">
                <label for="id_image">Agregar Foto:</label>
                <input type="file" class="form-control-file" name="image" accept="image/*" id="id_image">
            </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            </div>
        </div>
    </div>