{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Arbol del año Costa Rica 2020</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Arbol del Año Costa Rica 2020">
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



	<!-- Font -->
	{% comment %} <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> {% endcomment %}

	<!-- Stylesheets -->
	{% include "css.html" %}

	{% block style %}
	{% endblock style %}

</head>

<body >
	{% include "header.html" %}



	{% block content %}
	{% endblock content %}

	{% include "footer.html" %}

    {% include 'base/register-modal.html' %}
    {% include 'base/login-modal.html' %} 

	<!-- SCRIPTS -->
	{% include "js.html" %}

	{% block script %}
	{% endblock script %}


</body>
</html>