{% load static %}

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="#" class="logo"><img src="{% static 'images/logo.jpeg' %}" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href=" {% url 'home_page' %} ">Inicio</a></li>
				<li><a href=" {% url 'about_page' %} ">Quienes Somos</a></li>

				{% if request.user.is_authenticated %}
                    <li><a  style="width:auto;">Bienvenido: {{ request.user }} </a></li>
                    <li><a href="{% url 'logout' %}" style="width:auto;">Salir</a></li>
                {% else %}
					<li><a class="login-modal" onclick="document.getElementById('login-modal-id').style.display='block'"> <i class="ion-android-person"></i> Ingresar</a></li>
					<li><a class="register-modal" onclick="document.getElementById('register-modal-id').style.display='block'" style="width:auto;">Registrate</a></li>
				{% endif %}
				<li><a href="#">Participar</a></li>
			</ul><!-- main-menu -->


		</div><!-- conatiner -->
	</header>