{% extends 'base.html' %}

{% block content %}
<section class="blog-area section">
        <div class="container">
<div class="row">

    {% if request.user.is_authenticated %}
        {% if request.user.tree %}
            {% if request.user.tree.treeimage_set.exists %}
            {% include "tree/snippets/upload-image.html" %}
            {% for tree in request.user.tree.treeimage_set.all %}
                <div class="col-lg-4 col-md-6 mx-auto">
					<div class="card h-100 mx-auto">
						<div class="single-post post-style-1">
								<div class="blog-image">  								
									<img src="{{ tree.image.url }}" alt="Tree Image">
								</div>
							<div class="blog-info">
								<ul class="post-footer">
									{% comment %} <li><a href="#"><i class="ion-android-close"></i></a></li>							 {% endcomment %}
									<li><a href="#">
                                        {% include "tree/snippets/delete_image_tree.html" with tree_id=tree.id %}
                                        
                                    </a></li>									
								</ul>
							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
                </div><!-- col-lg-4 col-md-6 -->

            {% endfor %}   
        {% else %}
            {% include "tree/snippets/upload-image.html" %}
        {% endif %}
    {% else %}
            {% include "tree/snippets/tree-description.html" %}
    {% endif %}
{% else %}

                <div class="col mx-auto">
					<div class="card h-100 mx-auto">
                        {% include "tree/snippets/participate_steps.html" %}
                    </div>
                </div>        

{% endif %}
        </div>
</div>
</section>
{% endblock content %}